@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
    ;

*/

#contador {
    font-size: 100px;
    flex-direction: row-reverse;
    padding-right: 600px;
    background-color: #23425f;
    color: #a64942;
    font-family: 'Vampiro One', cursive;
    height: 200px;
    width: auto;
}
.display-4 {
    font-family: 'Vampiro One', cursive;
    color: #a64942;

}
.lead {
    font-family: 'Merriweather', serif;
}

h5 {
    font-family: 'Merriweather', serif;
    padding-bottom: 20px;
}

h5 > p {
    font-family: 'Vampiro One', cursive;
    margin-top: 10px;
    font-size: 20px;
}
